<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>QuickFix</title>
    <link rel='stylesheet' href='../css/preferences.css'>
  </head>
  <body>
    <div id="app">
      <h1>General</h1>
      <div class="container">
        <p>
          <label class="checkbox-label">
            <input m-model="settings.show_notification" type="checkbox"> Show notifications
          </label>
        </p>
        <p>Format clipboard shortcut: <button>Change...</button></p>
      </div>
      <h1>JavaScript</h1>
      <div class="container">
        <p>Indent size: <input m-model="js_beautify.js.indent_size" type="number"></p>
        <p>Indent character: <input m-model="js_beautify.js.indent_char" type="text" maxlength="1"></p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.js.indent_with_tabs" type="checkbox"> Indent with tabs
          </label>
        </p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.js.end_with_newline" type="checkbox"> End with newline
          </label>
        </p>
        <p>Indent level: <input m-model="js_beautify.js.indent_level" type="number"></p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.js.preserve_newlines" type="checkbox"> Preserve newlines
          </label>
        </p>
        <p>Max preserve newlines: <input m-model="js_beautify.js.max_preserve_newlines" type="number"></p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.js.space_in_paren" type="checkbox"> Space in parenthesis
          </label>
        </p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.js.space_in_empty_paren" type="checkbox"> Space in empty parenthesis
          </label>
        </p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.js.jslint_happy" type="checkbox"> jslint happy
          </label>
        </p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.js.space_after_anon_function" type="checkbox"> Space after anonymous function
          </label>
        </p>
        <p>
          Brace style: 
          <select m-model="js_beautify.js.brace_style">
            <option value="none">none</option>
            <option value="end-expand">end-expand</option>
            <option value="expand">expand</option>
            <option value="collapse">collapse</option>
          </select>
        </p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.js.break_chained_methods" type="checkbox"> Break chained methods
          </label>
        </p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.js.keep_array_indentation" type="checkbox"> Keep array indentation
          </label>
        </p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.js.unescape_strings" type="checkbox"> Unescape strings
          </label>
        </p>
        <p>Wrap line length: <input m-model="js_beautify.js.wrap_line_length" type="number"></p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.js.e4x" type="checkbox"> e4x
          </label>
        </p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.js.comma_first" type="checkbox"> Comma first
          </label>
        </p>
        <p>
          Operator position:
          <select m-model="js_beautify.js.operator_position">
            <option value="preserve-newline">preserve newline</option>
            <option value="after-newline">after newline</option>
            <option value="before-newline">before newline</option>
          </select>
        </p>
      </div>
      <h1>CSS</h1>
      <div class="container">
        <p>Indent size: <input m-model="js_beautify.css.indent_size" type="number"></p>
        <p>Indent character: <input m-model="js_beautify.css.indent_char" type="text" maxlength="1"></p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.css.indent_with_tabs" type="checkbox"> Indent with tabs
          </label>
        </p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.css.end_with_newline" type="checkbox"> End with newline
          </label>
        </p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.css.selector_separator_newline" type="checkbox"> Selector separator newline
          </label>
        </p>
        <p>
          <label class="checkbox-label">
            <input m-model="js_beautify.css.newline_between_rules" type="checkbox"> Newline between rules
          </label>
        </p>
      </div>
      <h1>HTML</h1>
      <div class="container">
        test
      </div>
    </div>
    <script src="../js/preferences.js"></script>
    <script src="../js/behaviorFix.js"></script>
  </body>
</html>