<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>QuickFix</title>
    <link rel='stylesheet' href='../css/preferences.css'>
  </head>
  <body>
    <h1>General</h1>
    <div class="container">
      <p>
        <label class="checkbox-label">
          <input type="checkbox"> Show notifications
        </label>
      </p>
      <p>Format clipboard shortcut: <button>Change...</button></p>
    </div>
    <h1>JavaScript</h1>
    <div class="container">
      <p>Indent size: <input type="number"></p>
      <p>Indent character: <input type="text" maxlength="1"></p>
      <p>
        <label class="checkbox-label">
          <input type="checkbox"> Indent with tabs
        </label>
      </p>
      <p>
        <label class="checkbox-label">
          <input type="checkbox"> End with newline
        </label>
      </p>
      <p>Indent level: <input type="number"></p>
      <p>
        <label class="checkbox-label">
          <input type="checkbox"> Preserve newlines
        </label>
      </p>
      <p>Max preserve newlines: <input type="number"></p>
      <p>
        <label class="checkbox-label">
          <input type="checkbox"> Space in parenthesis
        </label>
      </p>
      <p>
        <label class="checkbox-label">
          <input type="checkbox"> Space in empty parenthesis
        </label>
      </p>
      <p>
        <label class="checkbox-label">
          <input type="checkbox"> jslint happy
        </label>
      </p>
      <p>
        <label class="checkbox-label">
          <input type="checkbox"> Space after anonymous function
        </label>
      </p>
      <p>Brace style: <input type="number"></p>
      <p>
        <label class="checkbox-label">
          <input type="checkbox"> Break chained methods
        </label>
      </p>
      <p>
        <label class="checkbox-label">
          <input type="checkbox"> Keep array indentation
        </label>
      </p>
      <p>
        <label class="checkbox-label">
          <input type="checkbox"> Unescape strings
        </label>
      </p>
      <p>Wrap line length: <input type="number"></p>
      <p>
        <label class="checkbox-label">
          <input type="checkbox"> e4x
        </label>
      </p>
      <p>
        <label class="checkbox-label">
          <input type="checkbox"> Comma first
        </label>
      </p>
      <p>Operator position: <input type="number"></p>
    </div>
    <h1>CSS</h1>
    <div class="container">
      test
    </div>
    <h1>HTML</h1>
    <div class="container">
      test
    </div>
    <script src="../js/preferences.js"></script>
    <script src="../js/behaviorFix.js"></script>
  </body>
</html>