<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>QuickFix</title>
    <link rel='stylesheet' href='../css/preferences.css'>
    <link rel='stylesheet' href='../css/switchery.css'>
  </head>
  <body>
    <div id="app">
      <h1>General</h1>
      <div class="container">
        <p><span>Show notifications</span> <input class="js-switch" type="checkbox"></p>
        <p><span>Format clipboard shortcut:</span> <button>Change...</button></p>
        <p>
          <span>Beautify settings:</span>
          <span class="button-group">
            <button onclick="showSettings()">Open file location</button>
            <button>Reload</button>
            <button onclick="resetSettings()">Reset</button>
          </span>
        </p>
      </div>
      <!--<h1>JavaScript</h1>
      <div class="container">
        
      </div>-->
      <h1>CSS</h1>
      <div class="container">
        <p><span>Auto-prefix</span> <input class="js-switch" type="checkbox"></p>
      </div>
      <!--<h1>HTML</h1>
      <div class="container">
        
      </div>-->
    </div>
    <script src="../js/preferences.js"></script>
    <script src="../js/behaviorFix.js"></script>
  </body>
</html>