* {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

body {
  background-color: #E7D5D1;
}

h1 {
   background-color: #E05850;
   background: linear-gradient(to right, #E05850, #E7776D);
   box-shadow: inset 0 2px 0 #C94F48;
   color: white;
   padding-left: 16px;
   padding-top: 4px;
   padding-bottom: 4px;
}

h1:first-child {
  margin-top: 0;
}

.checkbox-label, .checkbox-label input {
  cursor: pointer;
}

.container {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}