* {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

body {
  background-color: #F4E0DC;
}

h1 {
  background-color: #E05850;
  background: linear-gradient(to right, #E05850, #E7776D);
  box-shadow: inset 0 2px 0 #C94F48;
  color: white;
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin:0;
}

.checkbox-label, .checkbox-label input {
  cursor: pointer;
}

.container {
  /*padding: 0 16px;*/
  display: flex;
  flex-direction: column;
}

.container > p {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0;
  padding: 1em;
}

.container > p:not(:first-child) {
  border-top: 1px solid rgba(230, 114, 105, 0.4);
}

.container > p > *:first-child {
  flex:1;
  display:inline-flex;
  align-items: center;
}

p {
  margin: 4px 0;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

button {
  color: #E05850;
  font-size: inherit;
  background-color: transparent;
  outline: none;
  border: 2px solid #E05850;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5em;
}

button:hover {
  background-color: #E05850;
  color: white;
}

button:hover:active {
  background-color: #B45558;
  border-color: #B45558;
}

.button-group {
  display: inline-flex;
}

.button-group > button:not(:first-child):not(:last-child) {
  margin-left: 0;
  margin-right: 0;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.button-group > button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

.button-group > button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}